<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gordian Knot</title>
    <% if (htmlWebpackPlugin.options.dev) { %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.port %>/webpack-dev-server.js"></script>
    <% } %>
    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    <div id="react-app"></div>
    <script src="/bundle.js"></script>
  </body>
</html>
